<h1>Cocktails</h1>
<%= link_to new_cocktail_path do %>+
<% end %>
<div class="container">
</div>

<div class="container text-center">
<ul class="cocktails">
    <% @cocktails.each do |cocktail| %>
            <div class="cocktail col-xs-12 col-sm-offset-3">
    <li>
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </li>

            <%= cl_image_tag cocktail.photo, width: 100, crop: :fill %>
        </div>

    <% end %>
</ul>
</div>
