// Place all the styles related to the doses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.doses-list {
  text-align: left;
  width: 300px;
  padding: 0 20px;
  margin: 0 auto;
  li {
    list-style: circle;
  }
}
