<ul class="navbar-cocktails">
    <li>
        <%= link_to root_path do %>
        <%= icon('fas', 'glass-martini') %>
        <% end %>
    </li>
    <li>
      <%= link_to new_cocktail_path do %>
        +
      <% end %>
    </li>
</ul>
